<!-- component -->
<%# <div class="bg-white-100 font-ArchivoNarrow w-full min-h-screen m-0 border-4"> %>
<div class="bg-white-100 font-ArchivoNarrow w-full m-0 border-4">
	<div class="bg-white border-4">
    <div class="container mx-auto px-4 border-4">
      <div class="flex items-center justify-between py-4 border-4">
        <div>
        <h2 class="text-lg">ANTHONY MARION</h2>
        </div>
        <div class="hidden sm:flex sm:items-center">
          <a href="#" class="text-blue-800 text-base font-ArchivoNarrow hover:text-blue-500 mr-4 no-underline">About</a>
          <a href="#" class="text-blue-800 text-base font-ArchivoNarrow hover:text-blue-500 mr-4 no-underline">Tech</a>
          <a href="#" class="text-blue-800 text-base font-ArchivoNarrow hover:text-blue-500 mr-4 no-underline">Projects</a>
          <a href="#" class="text-blue-800 text-base font-ArchivoNarrow hover:text-blue-500 no-underline">Contact</a>
          <button class="bg-transparent hover:bg-blue-500 text-base text-blue-800 font-ArchivoNarrow hover:text-white py-1 px-3 mx-4 border border-blue-800 hover:border-transparent rounded">
            Resume
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
