<%# BANNER %>
<div class="container">
  <div class="row">
    <div class="banner">
      <div class="banner-content h-96">
        <h1>Hey, I'm Anthony</h1>
          <%# TYPESETTER JS STARTS HERE %>
            <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>

            <!-- Setup and start animation! -->
            <script>
              var typed = new Typed('#element', {
                strings: ['<i>First</i> sentence.', '&amp; a second sentence.'],
                typeSpeed: 50,
              });
            </script>

          <%# TYPESETTER JS ENDS HERE %>
      </div>
    </div>
  </div>
</div>

<%# ABOUT ME %>
<div class="row">
  <div class="about-me">
    <div class="about-me-content">
      <h3>HERE'S WHAT I'M ALL ABOUT</h3>
      <p>I started my career in ecommerce and marketing, helping small business build their online presence and grow their customer base. Throughout my roles,  I worked closely with software developers. I saw the power of technology in driving the bottom-line and increasing conversions and became fascinated by the world of coding.
          I realised that by coding I could have an even greater impact on the businesses I worked with. So I decided to take the leap and transition my career to become a software engineer. I enrolled in a  coding bootcamp and dedicated every spare moment to learning and practicing my new skills.
          And now I look to fuse my e-Commerce expertise with my new coding skills to create solutions that help businesses thrive in the digital world.</p>
    </div>
  </div>
</div>

<%# EXPERIENCE %>
<div class="row">
  <div class="about-me">
    <div class="about-me-content">
      <h3>UNDER MY BELT</h3>
      <p>insert work experience</p>
    </div>
  </div>
</div>

<%# TECH STACK %>
<div class="row">
  <div class="tech-stack h-48">
    <div class="tech-stack-content">
      <h3>WHAT'S IN MY TECH TOOLBOX?</h3>
        <div class="tech-stack-icons">

        </div>
    </div>
  </div>
</div>

<%# PORTFOLIO %>
<div class="row">
  <div class="portfolio h-80">
    <div class="portfolio-content">
      <h3>A COUPLE OF THINGS I'VE BUILT</h3>
    </div>
  </div>
</div>

<%# EDUCATION %>
<div class="row">
  <div class="education h-48">
    <div class="education-content">
      <h3>I ALSO HAVE A COUPLE PIECES OF 'PAPER' FROM THESE FINE SCHOOLS</h3>
        <div class="education-logos">
        </div>
    </div>
  </div>
</div>

<%# CONTACT %>
