<%# BANNER %>
<div class="banner">
  <div class="banner-content h-screen">
    <h1>Hey, I'm Anthony</h1>
    <h2>I’m a software engineer who’s passionate about all things eCommerce and all things code</h2>
      <%# TYPESETTER JS STARTS HERE %>
      <%# TYPESETTER JS ENDS HERE %>
  </div>
</div>

<%# ABOUT ME %>
<div class="about-me">
  <div class="about-me-content">
    <h3>Everything you need to know about me in one-ish lines</h3>
    <p>My M.O. is all about creating and coding software solutions that drive sales/conversions/customer experiences online</p>
  </div>
</div>

<%# TECH STACK %>
<div class="tech-stack">
  <div class="tech-stack-content">
    <h3>Here's what's in my toolbox</h3>
      <div class="tech-stack-icons">
        <i class="fa-brands fa-js" style="color: #909090;"></i>
        <i class="fa-brands fa-aws" style="color: #909090;"></i>
        <i class="fa-brands fa-css3-alt" style="color: #909090;"></i>
        <i class="fa-brands fa-html5" style="color: #909090;"></i>
        <i class="fa-brands fa-react" style="color: #909090;"></i>
        <i class="fa-brands fa-npm" style="color: #909090;"></i>
      </div>
  </div>
</div>

<%# PORTFOLIO %>
<div class="portfolio">
  <div class="portfolio-content">
    <h3>A couple of things I've built</h3>
  </div>
</div>

<%# EDUCATION %>
<div class="education">
  <div class="education-content">
    <h3>I have a couple of pieces of paper from these fine institutions</h3>
      <div class="education-logos">
        <%# <%= image_tag('lewagon_logo.png', class: "lewagon_logo", alt: "Le Wagon Logo") %>
        <%# <%= image_tag('Logo_of_Swinburne_University_of_Technology.svg.png', class: "swin_logo", alt: "Swinburne Logo")%>
      </div>
  </div>
</div>

<%# CONTACT %>
